{include file='views/back/form_padrao/header.html'}
<div class="contact-form form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="contact-form form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <label>Hierarquia</label>
         <br>
         <select class="form-group span12" name="{$modulo.modulo}[id_modulo]" >
            {foreach from=$modulos item=item}
                <option value="{$item.id}" {if $item['id'] == $cadastro['id_modulo']} selected {/if}>
                    {$item.nome}
                </option>
            {/foreach}
         </select>
    </div>
    <div class="contact-form form-group col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <label>Permissão</label>
        <input class="form-control somente_minusculas" name="{$modulo.modulo}[permissao]" value="{if isset($cadastro)}{$cadastro['permissao']}{/if}" required>
    </div>
</div>
{include file='views/back/form_padrao/footer.html'}
