{*debug2($_SESSION)*}
<!-- ******Video Section****** -->
<section class="story-section section section-on-bg">
    <h2 class="title container text-center">{$cadastro.titulo}</h2>
    <div class="story-container container text-center">
        <div class="story-container-inner" >
            <div class="about">
                {*debug2($cadastro)*}
                <!-- <h3 class="title text-center" style="color: #000;">Resumo</h3> -->
                <!-- <blockquote class="belife">{$cadastro.resumo}</blockquote> -->
                {$cadastro.conteudo}
            </div><!--//about-->
        </div>
    </div>
</section><!--//story-video-->

