
<!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button marginR10">
                Selecionar Arquivo
            </div>
         <!--    <button type="button" id="trigger-upload" class="btn btn-primary mingenL10">
                <i class="icon-upload icon-white"></i> Enviar
            </button> -->
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Enviando Arquivo...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancelar</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Tentar Novamente</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Deletar</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Fechar</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Não</button>
                <button type="button" class="qq-ok-button-selector">Sim</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancelar</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<style>
/*    #trigger-upload {
        background: #3aa7aa;
        color: #fff;
        border: 1px solid #3aa7aa;
        font-weight: 600;
        font-size: 13px;
        line-height: 1.5;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        -moz-user-select: none;
        border-radius: 4px;
        text-transform: none;
        overflow: visible;
        width: 145px;
    }*/

    #fine-uploader-manual-trigger .qq-upload-button {
        margin-right: 15px;
    }

    #fine-uploader-manual-trigger .buttons {
        width: 36%;
    }

    #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
        width: 60%;
    }

    .qq-upload-button{
        background: #40babd;
        color: #fff;
        border: 1px solid #40babd;
        font-weight: 600;
        font-size: 13px;
        line-height: 1.5;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        -moz-user-select: none;
        border-radius: 4px;
        text-transform: none;
        overflow: visible;
        width: 145px;
    }

    .qq-upload-button:hover{
        background: #3aa7aa;
        color: #fff;
        border: 1px solid #3aa7aa;
        text-decoration: none;
        font-weight: 600;
        font-size: 13px;
        line-height: 1.5;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        -moz-user-select: none;
        border-radius: 4px;
        font-family: inherit;
        text-transform: none;
        overflow: visible;
        width: 145px;
    }

</style>

