<div class="module-wrapper masonry-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="module">
        <div class="module-inner">
            <div class="module-heading">
                <h3 class="module-title">Listagem de {$modulo.name}</h3>
            </div>
            <div class="module-content collapse in" id="content-listagem-{$modulo.modulo}">
                <div class="module-content-inner no-padding-bottom">
                    <div class="table-responsive">
                        <table id="data_table" class="table table-striped display dataTable responsive" role="grid">
                            <thead>
                                <tr>
                                    {foreach from=$colunas_datatable item=coluna}
                                        {$coluna}
                                    {/foreach}
                                </tr>
                            </thead>
                            <!-- <tfoot>
                                <tr>
                                    {*foreach from=$colunas_datatable item=coluna*}
                                        {*$coluna*}
                                    {*/foreach*}
                                </tr>
                            </tfoot> -->
                            <tbody>
                                {if !empty($linhas_datatable)}
                                    {foreach from=$linhas_datatable item=linhas}
                                        <tr role="row" class="gradeA odd">
                                            {foreach from=$linhas item=coluna_linha'}
                                                {$coluna_linha}
                                            {/foreach}
                                        </tr>
                                    {/foreach}
                                {/if}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{literal}
<script type="text/javascript">
$(document).ready(function(){
    $('#data_table').DataTable({
        "order": [[ 0, "desc" ]],
        "bProcessing": true,
        "serverSide": true,
        "language": {
            "url": "/public/back/js/DataTable-Portuguese-Brasil.json"
        },
        "ajax":{
            url :"/{/literal}{$modulo.modulo}{literal}/carregar_listagem_ajax",
            type: "post",
            error: function(){
            }
        }

    });
});
</script>
{/literal}