{include file='views/back/form_padrao/header.html'}
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="autor">Autor * :</label>
    <input class="form-control embelezar_string somente_letras" type="text" name="{$modulo.modulo}[nome]"  value="{if isset($cadastro)}{$cadastro.nome}{/if}" required>
</div>
<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <label for="email">Email * :</label>
    <input class="form-control validar_email" type="text" name="{$modulo.modulo}[email]" value="{if isset($cadastro)}{$cadastro.email}{/if}" required>
</div>
<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <label for="link">Lattes/Site * :</label>
    <input class="form-control" type="text" name="{$modulo.modulo}[link]"  value="{if isset($cadastro)}{$cadastro.link}{/if}" required>
</div>
{include file='views/back/form_padrao/footer.html'}
