<!-- ******Video Section****** -->
<section class="story-section section section-on-bg">
    <h2 class="title container text-center">{$cadastro.titulo}</h2>
    <div class="story-container container text-center">
        <div class="story-container-inner" >
            <div class="about">
                {*debug2($cadastro)*}
                <h3 class="title text-center" style="color: #000;">Resumo</h3>
                <blockquote class="belife">{$cadastro.resumo}</blockquote>
            </div><!--//about-->
        </div>
    </div>

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Ano: {$cadastro.ano}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Curso: {$cadastro.curso.0.curso}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Campus: {$cadastro.campus.0.campus}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2 class="title text-center">Palavras Chave</h2>
                    {foreach from=$cadastro.trabalho_relaciona_palavra_chave item=palavra_chave}
                        <p>{$palavra_chave.palavra_chave.0.palavra_chave}</p>
                    {/foreach}
                </div>
            </div>

            <div class="team row">
                <h3 class="title">Autores</h3>
                {foreach from=$cadastro.trabalho_relaciona_autor item=autor}
                    <div class="member col-md-4 col-sm-4 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="assets/images/team/member-1.png" alt=""/>
                                <figcaption class="info">
                                    <span class="name">{$autor.autor.0.nome}</span>
                                    <br />
                                    <span class="job-title">{$autor.autor.0.email}</span>
                                    <br />
                                    <span class="job-title">{$autor.autor.0.link}</span>

                                    </figcaption>
                                </figure><!--//profile-->
                            </div><!--//member-inner-->
                    </div><!--//member-->
                {/foreach}
            </div><!--//team-->

            <div class="team row">
                <h3 class="title">Orientadores</h3>
                {foreach from=$cadastro.trabalho_relaciona_orientador item=orientador}
                    <div class="member col-md-4 col-sm-4 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="assets/images/team/member-1.png" alt=""/>
                                <figcaption class="info">
                                    <span class="name">{$orientador.orientador.0.nome}</span>
                                    <br />
                                    <span class="job-title">{$orientador.orientador.0.email}</span>
                                    <br />
                                    <span class="job-title">{$orientador.orientador.0.link}</span>

                                    </figcaption>
                                </figure><!--//profile-->
                            </div><!--//member-inner-->
                    </div><!--//member-->
                {/foreach}
            </div><!--//team-->

            <div class="press-kit text-center">
                <h3 class="title">Aviso</h3>
                <p>A consulta a este documento fica condicionada na aceitação das seguintes condições de uso:</p>
                <p>Este trabalho é somente para uso privado de atividades de pesquisa e ensino. Não é autorizada sua reprodução para quaisquer fins lucrativos. Esta reserva de direitos abrange todos os dados do documento bem como seu conteúdo. Na utilização ou citação de partes do documento é obrigatório mencionar nome(s) do(s) autor(es) do trabalho. <a href="contact.html">Link Bonito</a> </p>
                <a class="btn btn-cta btn-cta-secondary" target="_blank" href="/{$cadastro.trabalho_relaciona_arquivo.0.arquivo.0.endereco}">Download Trabalho</a>
            </div><!--//press-kit-->
        </div>
    </div>
</section><!--//story-video-->
