{if isset($banners) && !empty($banners)}
    <style type="text/css">
    {foreach from=$banners key=indice item=banner}
        .bg-slider-wrapper .flexslider .slide.slide-{$indice} {
          background: #253340 url('/{$banner.arquivo.0.endereco}') no-repeat 50% top;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }

        .blog-slider .slide.slide-{$indice} {
            background: #253340 url('/{$banner.arquivo.0.endereco}') no-repeat 50% top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    {/foreach}
    </style>

    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider" >
            <ul class="slides">
                {foreach from=$banners key=indice item=banner}
                    <li class="slide slide-{$indice}"></li>
                {/foreach}
                <!-- <li class="slide slide-1"></li> -->
                <!-- <li class="slide slide-2"></li> -->
                <!-- <li class="slide slide-3"></li> -->
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->
{else}
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider" >
            <ul class="slides">
                <li class="slide slide-1"></li>
            </ul>
        </div>
    </div>
{/if}

<section class="story-section section section-on-bg">
	    <h1 class="title container text-center">Busca</h1>
	    <p class="intro text-center"> </p>
	    <div class="story-container container text-center">
	        <div class="story-container-inner" >
	            <div class="about">

		            <div class="row">
		                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		                    <ul class="nav nav-tabs text-center" role="tablist">
		                        <li class="active">
		                        	<a href="#feature-1" role="tab" data-toggle="tab"><i class="fa fa-search"></i>
		                        		<br>
		                        		<span class="hidden-sm hidden-xs">Busca Textual</span>
		                        	</a>
		                        </li>
		                        <li class="last">
		                        	<a href="#feature-2" role="tab" data-toggle="tab">
		                        		<i class="fa fa-search-plus"></i>
		                    			<br>
		                    			<span class="hidden-sm hidden-xs">Busca Avançada</span>
		                    		</a>
		                        </li>
		                    </ul>


		                    <div class="tab-content">
		                        <div class="tab-pane fade in active" id="feature-1" style="padding-bottom: 20px;">
		                        	<div style="display: block; clear: both; height: 50px;"></div>
		            				{include file="./busca_simples.html"}
		                        </div>
		                        <div class="tab-pane" id="feature-2" style="padding-bottom: 20px;">
		                        	<div style="display: block; clear: both; height: 50px;"></div>
		            				{include file="./clone/query_builder.html"}
		                        </div>
		                    </div>
		                    <div class="tab-content">
	            				{include file="./resultado_busca.html"}
		                    </div>
		                </div>
		            </div>

	            </div>
	        </div>
	    </div>
</section>