{include file='views/back/form_padrao/header.html'}
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="autor">Titulo * :</label>
    <input class="form-control" type="text" name="{$modulo.modulo}[titulo]"  value="{if isset($cadastro)}{$cadastro.titulo}{/if}" required>

    {if isset($cadastro)}
    	<div class="module-content collapse in" id="content-1">
			<div class="module-content-inner no-padding-bottom">
				<label for="autor">Conteúdo *:</label>
				<br>
    			{$cadastro.conteudo}
    		</div>
    	</div>
    {else}
		<div class="module-content collapse in" id="content-1">
			<div class="module-content-inner no-padding-bottom">
				<label for="autor">Conteúdo *:</label>
				<textarea name="{$modulo.modulo}[conteudo]" id="wysihtml5-editor" rows="20" class="form-control">{if isset($cadastro)}{$cadastro.conteudo}{/if}</textarea>
			</div>
		</div>
	{/if}

</div>
{include file='views/back/form_padrao/footer.html'}
